<article class="dream-header">
  <section class="ui top attached center aligned card">
    <div class="image">
      {{ if isset .Site.Params "avatar" }}
      <img src="{{ .Site.Params.avatar }}" />
      {{ end }}
    </div>
    <div class="content">
      <a href="{{ .Site.BaseURL }}" class="header">
        {{- .Site.Params.author -}}
      </a>
      <div class="meta">
        {{- .Site.Params.motto -}}
      </div>
    </div>
    {{ template "_internal/social_buttons.html" . }}
  </section>
</article>
